includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    type_coverage:
        return: 95
        param: 95
        property: 95
        declare: 95
        constant: 95

